<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="/img/redis.ico" type="image/x-icon">
  <title>Weather App - About</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Janis. It uses data from mapbox and weatherstack.</p>
    <img class="portrait" src="img/redis.ico">
    <br>
  </div>
  {{>footer}}
</body>

</html>